@{
    ViewData["Title"] = "Faq";
}
@model Faq
<section class="faq" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                    <h3>Add new FAQ</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                    @using (Html.BeginForm())
                    {
                        <div>
                            @Html.LabelFor(m => m.Question)
                            @Html.TextBoxFor(m => m.Question)
                        </div>
                        <div>
                            @Html.LabelFor(m => m.Answer)
                            @Html.TextBoxFor(m => m.Answer)
                        </div>
                        <input type="submit" value="Add" />
                    }
                </div>
            </div>
        </div>
    </div>
</section>
