@{
    ViewData["Title"] = "Faq";
}
<section class="faq" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                    @model List<Faq>
                    @foreach (var faq in Model)
                    {

                        <div class="section-heading">
                            <h3>@faq.Question</h3>
                        </div>
                        <p>
                            @faq.Answer
                        </p>

                    }
                </div>
            </div>
        </div>
    </div>
</section>
