@{
    ViewData["Title"] = "Faq";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                    @model List<Faq>

                    @if (Model == null || Model.Count == 0)
                    {
                        <h4>Sorry, no FAQs available!</h4>
                    }
                    else
                    {
                        <br />
                        <br />

                        @foreach (var faq in Model)
                        {
                            <div>
                                <div style="        float: left;
            text-align: justify;" class="section-heading">
                                    <h3>@faq.Question</h3>
                                </div>
                                <br/>
                                @if (this.User.IsInRole("admin"))
                                {
                                    <div>
                                        <input class="button" type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Faq", new { id = faq.Id })'" />
                                        <form class="buttonForm" method="post" action="/Faq/Delete/@faq.Id">
                                            <input class="button" type="submit" value="Delete" />
                                        </form>
                                    </div>
                                }
                            </div>
                            <br />
                            <br/>
                            <div style="        float: left;
            text-align: justify;">
                                @faq.Answer
                            </div>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        }
                    }
                </div>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</section>
@section Styles {
    <link href="@Url.Content("~/css/Faq/Index.css")" rel="stylesheet" type="text/css" />
}