@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="section-heading text-center">
        <h3 style="text-align: justify;">@ViewData["Message"]</h3>
    </div>
    <p style="text-align: justify;">
        Hack@CEWIT has previously awarded over $7K in prizes for the most innovative, ambitious, original, health-conscious, and industry-applicable IoT projects and hosts 25+ tech talks and deep-dive workshops to improve your skills, learn new programs, and meet fellow hackers and industry gurus. In partnership with our friends at Major League Hacking and Softheon,
        the Hack@CEWIT 2019 theme will be announced shortly — at Stony Brook University.

        Interested in hacking, partnering, or have a questions for our team? Get in touch!
        631-216-7000
        hack@cewit.org
    </p>
</div>
