@{
    ViewData["Title"] = "Contact";
}

<div style="margin: 60px 0px 0px 90px;">
    <h3>@ViewData["Message"]</h3>
    <address>
        Center of Excellence in Wireless and Information Technology (CEWIT)<br />
        1500 Stony Brook Rd, <br />
        Stony Brook, NY 11794<br />
        <abbr title="Phone">P:</abbr>
        (631) 216-7000
    </address>
    <address>
        <strong>Visit:</strong> <a href="https://www.cewit.org/">CEWIT</a><br />
    </address>
</div>