@{
    ViewData["Title"] = "HACK@CEWIT";
}

<h2>Center of Excellence in Wireless and Information Technology at Stony Brook University </h2>
<h3>Save the date! February 16-18, 2019</h3>
<div>
    <div>
        <video style="background: black; width: 100%; height: 100%;" autoplay loop muted poster="/static/main_page/assets/header.jpg">
            <source src="hackatcewit2018video.mp4" type="video/mp4">
        </video>
    </div>
</div>