@{
    ViewData["Title"] = "HACK@CEWIT";
}
<br />
<h2>Center of Excellence in Wireless and Information Technology at Stony Brook University </h2>
<h3>Save the date! February 16-18, 2019</h3>
<div style="position: relative;" class="row">
    <div>
        <video style="z-index: -1; background: black; width: 100%; height: 100%;" autoplay loop muted poster="~/static/main_page/assets/header.jpg">
            <source alt="Video containing highlight reel of footage filmed during Hack at CEWIT 2018" src="~/hackatcewit2018video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video-overlay">
        <img class="video-overlay-text" src="~/images/HackCEWITStackWhite_NoDate.png" alt="Overlaid image of Hack at CEWIT Stacked Logo Black">
    </div>
</div>
<br />
<div>
    <input class="button" type="button" value="Register" onclick="location.href='@Url.Action("Register", "Account")'" />
    <input class="button" type="button" value="Contact Us" onclick="location.href='@Url.Action("Contact", "Home")'" />
    @*<input class="button" type="button" value="Sponsor" onclick="location.href='@Url.Action("Index", "Home")'" />*@
</div>
<br />
<br />

@section Styles {
    <link href="@Url.Content("~/css/Home/Index.css")" rel="stylesheet" type="text/css" />
}