@{
    ViewData["Title"] = "Resources";
}
<h2>@ViewData["Title"]</h2>

<section class="resouces" id="resources">
    <center><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Resources</h2></center>
    <div class="container-fluid card">
        <h1></h1>
        <br>
        <br>
        <br>
        <h1>CEWIT:</h1>
        <br><br>
        <p>
            Connect: <br>Network:<code>HACK@CEWIT</code><br> Password: <code>cewit@1500!</code><br><br>
            <a target="_blank" href="https://ctf.cewit.stonybrook.edu/">Play the official HACK@CEWIT CTF Challenge!</a><br><br>
            <a target="_blank" href="/static/Resources/HackerRules_HackAtCEWIT2018.pdf">Hack@CEWIT Rules</a><br><br>
            <a target="_blank" href="/static/Resources/OpenStack_HackAtCEWIT2018.pdf">Getting Started with OpenStack</a>
            <br><br>
            <a target="_blank" href="/static/Resources/HubsHardwareLibraries_HackAtCEWIT2018.pdf">Government Hubs, Hardware &amp; Libraries</a>
            <br><br>
        </p>
    </div><div style="10px"></div><div class="container-fluid card">
        <h1></h1>
        <h1>Softheon:</h1>
        <br><br>
        <p>
            <a target="_blank" href="https://hack.softheon.io/">Softheon Dev Portal</a><br><br>
            <a target="_blank" href="http://hack.softheon.io/workshop">Softheon Workshop UI</a><br>Softheon Workshop UI is a front-end CSS library to quickly build awesome web user interfaces.
            <br><br>
            <a target="_blank" href="https://hack.softheon.io/api/payments/docs">Softheon Wallet</a><br>The Softheon Wallet is a RESTful web service designed to enable applications to securely and easily accept payments while minimizing your PCI-DSS scope.
            <br><br>
            <a target="_blank" href="https://hack.softheon.io/api/enterprise/docs">Softheon Enterprise API</a>.<br>Softheon’s Enterprise API is a RESTful web service designed to interact with core resources of Softheon.
            <br><br>
            <a target="_blank" href="https://github.com/softheon"><code>Github</code></a>
        </p>
    </div>
    <div class="container-fluid card">
        <h1></h1>
        <h1>Cisco:</h1><p>
            <a target="_blank" href="https://developer.ciscospark.com">Cisco Dev Portal</a>
            <br><br>
            <a target="_blank" href="http://developers.meraki.com/">Cisco Meraki Dev Portal</a>
            <br><br>
            <a target="_blank" href="http://developers.meraki.com/tagged/Getting%20Started">Get Started</a>
            <br><br>
            <a target="_blank" href="http://developers.meraki.com/tagged/Bluetooth%20Beacons">Bluetooth API</a><br> Allows for control over Meraki BLE Beacons and Receivers.
            <br><br>
            <a target="_blank" href="http://developers.meraki.com/tagged/Dashboard">Dashboard API</a><br> Allows for control over Meraki Dashboard (adding network devices, naming them, etc).
            <br><br>
            <a target="_blank" href="http://developers.meraki.com/tagged/Scanning">Scanning API</a><br>Access to information such as # of clients, location analytics, dwell times, etc.
            <br><br>
            <a target="_blank" href="http://developers.meraki.com/tagged/Captive-Portal">Captive Portal API</a> Used for authenticating end user clients onto the network.
            <br><br>
        </p>
        <h1></h1>
    </div>
    <div class="container-fluid card">
        <h1></h1>
        <h1>Northwell Health:</h1><p>
            <a target="_blank" href="https://apim-hie-dev.portal.azure-api.net/">Northwell Dev Portal</a>
            <br><br>
            <a target="_blank" href="https://apim-hie-dev.portal.azure-api.net/cewit">Hack@CEWIT Challenges</a><br>
            Northwell Health's API Baking Challenge and No-Show Predictive Challenge will each award a $1000 cash prize + a VIP tour of their Innovation Center to the winning teams.
            <br><br>

            <a target="_blank" href="/static/Resources/Northwell_Data.pdf">Northwell Data Access</a>
            <br><br>
            <a target="_blank" href="https://apim-hie-dev.portal.azure-api.net/externaldocs/DataDictionary">Northwell Data Dictionary</a>
            <br><br>

        </p>
        <h1></h1>
    </div>
</section>