@{
    ViewData["Title"] = "Resources";
}

<section class="resouces" id="resources">
    <div class="container-fluid card">
        <h1></h1>
        <br>
        <br>
        <br>
        <h1>CEWIT:</h1>
        <br><br>
        <p>
            <a target="_blank" href="~/files/HackerRules_HackAtCEWIT2018.pdf">Hack@CEWIT Rules</a><br><br>
            <a target="_blank" href="~/files/OpenStack_HackAtCEWIT2018.pdf">Getting Started with OpenStack</a>
            <br><br>
            <a target="_blank" href="~/files/HubsHardwareLibraries_HackAtCEWIT2018.pdf">Government Hubs, Hardware &amp; Libraries</a>
            <br><br>
        </p>
</section>