@{
    ViewData["Title"] = "Schedule";
}

<section class="schedule text-center" id="schedule">
    <div class="container sched">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <hr>
                <div class="container">
                    <div class="tab">
                        <table style="width: 100%; table-layout: fixed;" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr class="days">
                                    <th></th>
                                    <th>Friday 2/16</th>
                                    <th></th>
                                    <th>Saturday 2/17</th>
                                    <th></th>
                                    <th>Sunday 2/18</th>
                                    <th></th>
                                </tr>

                                <tr>
                                    <!-- 2/16 -->
                                    <td colspan="2">TBD</td>
                                    <!-- 2/17 -->
                                    <td colspan="2">TBD</td>
                                    <!-- 2/18 -->
                                    <td colspan="2">TBD</td>
                                </tr>

                            </tbody>
                        </table>
                        <p>
                            <br>
                            <b><big>All Weekend:</big></b>
                            Hack@CEWIT Sponsor Stations: Hacker Gurus &amp; Recruitment Teams
                            <br>Hack@CEWIT Hardware Lab
                            <br>Beverage &amp; Snack Stations
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>