@{
    ViewData["Title"] = "Schedule";
}
<h2>@ViewData["Title"]</h2>

<section class="schedule text-center" id="schedule">
    <div class="container sched">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <h2 class="section-heading wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Schedule</h2>
                <hr>
                <div class="container">
                    <div class="tab">
                        <table style="width: 100%; table-layout: fixed;" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr class="days">
                                    <th></th>
                                    <th>Friday 2/16</th>
                                    <th></th>
                                    <th>Saturday 2/17</th>
                                    <th></th>
                                    <th>Sunday 2/18</th>
                                    <th></th>
                                </tr>

                                <tr>
                                    <td class="time">6:00AM</td>
                                    <!-- 2/16 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/17 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/18 -->
                                    <td colspan="2" class="carrot breakfast" data-tooltip="6:00AM - 8:00AM Sunrise Bagels (2/18)">Sunrise Bagels</td>
                                </tr>
                                <tr>
                                    <td class="time">7:00AM</td>
                                    <!-- 2/16 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/17 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/18 -->
                                    <td colspan="2" class="carrot breakfast"></td>
                                </tr>
                                <tr>
                                    <td class="time">8:00AM</td>
                                    <!-- 2/16 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/17 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td class="time">9:00AM</td>
                                    <!-- 2/16 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/17 -->
                                    <td class="carrot breakfast" data-tooltip="9:00AM - 11:00AM Breakfast Session (2/17)">Breakfast</td>
                                    <td></td>
                                    <!-- 2/18 -->
                                    <td class="carrot brunch" data-tooltip="9:00AM - 10:00AM Brunch Session (2/18)">Brunch</td>
                                    <td class="red deadline" data-tooltip="9:00AM Project Submission Deadline(2/18)">Project Submission Deadline</td>
                                </tr>

                                <tr>
                                    <td class="time">10:00AM</td>
                                    <!-- 2/16 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/17 -->
                                    <td class="carrot breakfast"></td>
                                    <td class="yellow workshop" data-tooltip="10:900am - 11:00pm Workshop: Docker + Kubernetes (2/17)">Workshop: Docker + Kubernetes</td>
                                    <!-- 2/18 -->
                                    <td colspan="2" class="orange demo" data-tooltip="10:00AM - 12:00PM Project Presentations &amp; Judging (2/18)">Demos</td>
                                </tr>
                                <tr>
                                    <td class="time">11:00AM</td>
                                    <!-- 2/16 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/17 -->
                                    <td style="padding: 0; z-index:1;" colspan="2">
                                        <table style="min-height: 32px; width: 100%; table-layout: fixed;">
                                            <tbody>
                                                <tr>
                                                    <td class="greensea techtalk" data-tooltip="11:00am - 11:30am Tech Talk: How to Ace a Technical Interview (2/17)">Tech Talk: How to Ace a Technical Interview</td>
                                                    <td class="yellow workshop" data-tooltip="11:00am - 12:00pm Workshop: Getting Started with NodeJS, Express &amp; MongoDB (2/17)">Workshop: Getting Started with NodeJS, Express &amp; MongoDB</td>
                                                    <td class="greensea techtalk" data-tooltip="11:00am - 12:30pm Tech Talk: Git: A Comprehensive Introduction (2/17)">Tech Talk: Git: A Comprehensive Introduction</td>
                                                    <td class="yellow workshop" data-tooltip="11:00am - 2:00pm Radical Softwares Workshop: Learn How to Weave and Code (2/17)">Radical Softwares Workshop: Learn How to Weave and Code</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- 2/18 -->
                                    <td colspan="2" class="orange demo"></td>
                                </tr>
                                <tr>
                                    <td class="time">11:30AM</td>
                                    <!-- 2/16 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/17 -->
                                    <td style="padding: 0; z-index:1;" colspan="2">
                                        <table style="min-height: 32px; width: 100%; table-layout: fixed;">
                                            <tbody>
                                                <tr>
                                                    <td class="greensea techtalk" data-tooltip="11:30am - 12:00pm Tech Talk: Designing User Interfaces (2/17)">Tech Talk: Designing User Interfaces</td>
                                                    <td class="yellow workshop"></td>
                                                    <td class="greensea techtalk"></td>
                                                    <td class="yellow workshop"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- 2/18 -->
                                    <td colspan="2" class="orange demo"></td>
                                </tr>
                                <tr>
                                    <td class="time">12:00PM</td>
                                    <!-- 2/16 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/17 -->
                                    <td style="padding: 0; z-index:1;" colspan="2">
                                        <table style="min-height: 32px; width: 100%; table-layout: fixed;">
                                            <tbody>
                                                <tr>
                                                    <td class="greensea techtalk" data-tooltip="12:00am - 12:30pm Tech Talk: RESTful API Design Best Practices (2/17)">Tech Talk: RESTful API Design Best Practices</td>
                                                    <td class="yellow workshop" data-tooltip="12:00am - 1:00pm Tech Talks &amp; Deep-Dive Workshops (2/17)">Workshop: Intro to 3D Printing with Autodesk Fusion360</td>
                                                    <td class="greensea techtalk"></td>
                                                    <td class="yellow workshop" <="" td="">
                                        </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- 2/18 -->
                                    <td colspan="2" class="purple closing" data-tooltip="12:00am - 1:00pm Closing Ceremony: Prizes &amp; Giveaways, Open Networking &amp; Wrap Up (2/18)">Closing Ceremony</td>
                                </tr>
                                <tr>
                                    <td class="time">12:30PM</td>
                                    <!-- 2/16 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/17 -->
                                    <td style="padding: 0; z-index:1;" colspan="2">
                                        <table style="min-height: 32px; width: 100%; table-layout: fixed;">
                                            <tbody>
                                                <tr>
                                                    <td class="greensea techtalk" data-tooltip="12:30pm - 1:00pm Tech Talk: OAuth 2.0 and OpenID Connect (2/17)">Tech Talk: OAuth 2.0 and OpenID Connect</td>
                                                    <td class="yellow workshop"></td>
                                                    <td class="greensea techtalk"></td>
                                                    <td class="yellow workshop"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- 2/18 -->
                                    <td colspan="2" class="purple closing" <="" td="">
                                </td>
                                </tr>
                                <tr>
                                    <td class="time">1:00PM</td>
                                    <!-- 2/16 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/17 -->
                                    <td style="padding: 0; z-index:1;" colspan="2">
                                        <table style="min-height: 32px; width: 100%; table-layout: fixed;">
                                            <tbody>
                                                <tr>
                                                    <td class="carrot lunch" data-tooltip="1:00pm - 3:00 Lunch Session (2/17)">Lunch</td>
                                                    <td class="greensea techtalk" data-tooltip="1:00pm - 1:30 Tech Talk: Continuous Integration, Testing, and Delivery (2/17)">Tech Talk: Continuous Integration, Testing, and Delivery</td>
                                                    <td class="yellow workshop" data-tooltip="1:00PM - 2:00 Workshop: AWS - Getting Started in AWS (2/17)">Workshop: AWS - Getting Started in AWS</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">1:30PM</td>
                                    <!-- 2/16 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/17 -->
                                    <td style="padding: 0; z-index:1;" colspan="2">
                                        <table style="min-height: 32px; width: 100%; table-layout: fixed;">
                                            <tbody>
                                                <tr>
                                                    <td class="carrot lunch techtalk"></td>
                                                    <td class="techtalk"></td>
                                                    <td class="yellow workshop"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">2:00PM</td>
                                    <!-- 2/16 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/17 -->
                                    <td style="padding: 0; z-index:1;" colspan="2">
                                        <table style="min-height: 32px; width: 100%; table-layout: fixed;">
                                            <tbody>
                                                <tr>
                                                    <td class="carrot lunch techtalk"></td>
                                                    <td class="techtalk"></td>
                                                    <td class="yellow workshop"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">3:00PM</td>
                                    <!-- 2/16 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/17 -->
                                    <td class="greensea techtalk" data-tooltip="3:00PM - 4:00PM Tech Talk: Dorm Room to Board Room - How to Get There (2/17)">Tech Talk: Dorm Room to Board Room - How to Get There</td>
                                    <td class="greensea techtalk" data-tooltip="3:00PM - 4:00PM Tech Talk: Intro to Vector Programming with 1010data(2/17)">Tech Talk: Intro to Vector Programming with 1010data</td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">4:00PM</td>
                                    <!-- 2/16 -->
                                    <td class="blue registration" data-tooltip="4:00PM - 6:00PM Registration &amp; Hacker Networking (2/16)">Registration &amp; Hacker Networking</td>
                                    <td class="green teamformation" data-tooltip="4:00PM - 7:30PM Team Formation &amp; Team Photos (2/16)">Team Formation</td>
                                    <!-- 2/17 -->
                                    <td colspan="2" class="greensea techtalk" data-tooltip="4:00PM - 5:00PM Tech Talks &amp; Deep-Dive Workshops(2/17)">Tech Talk: Introduction to Artificial Intelligence with the Ergo Programming System</td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td class="time">5:00PM</td>
                                    <!-- 2/16 -->
                                    <td class="blue registration"></td>
                                    <td class="green teamformation" data-tooltip="5:00PM - 6:00PM Team Building Workshop (2/16)">Team Building Workshop</td>
                                    <!-- 2/17 -->
                                    <td colspan="2" class="yellow workshop" data-tooltip="5:00PM - 6:00PM Workshop: UX: Control with Color &amp; Other Mass-Manipulation Strategies (2/17)">Workshop: UX: Control with Color &amp; Other Mass-Manipulation Strategies</td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">6:00PM</td>
                                    <!-- 2/16 -->
                                    <td class="purple remarks" colspan="2" data-tooltip="6:00 PM - 6:30PM Welcoming Remarks &amp; Kickoff Ceremony (2/16)">Welcoming Remarks &amp; Kickoff Ceremony</td>
                                    <!-- 2/17 -->
                                    <td class="greensea techtalk" data-tooltip="6:00pm-7:00pm Tech Talk: Intro to Blockchain Tech (2/17)">Tech Talk: Intro to Blockchain Tech</td>
                                    <td class="carrot dinner" data-tooltip="6:00PM - 8:00 PM Dinner Reception (2/17)">Dinner Reception</td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td class="time">6:30PM</td>
                                    <!-- 2/16 -->
                                    <td class="carrot dinner" colspan="2" data-tooltip="6:30 PM - 7:30PM Dinner Reception (2/16)">Dinner Reception</td>
                                    <!-- 2/17 -->
                                    <td class="greensea techtalk"></td>
                                    <td class="carrot dinner" data-tooltip="6:30PM - 7:00 PM Dinner Reception (2/17)"></td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">7:00PM</td>
                                    <!-- 2/16 -->
                                    <td style="z-index:1;" colspan="2" class="carrot dinner"></td>
                                    <!-- 2/17 -->
                                    <td colspan="2" class="carrot dinner"></td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">7:30PM</td>
                                    <!-- 2/16 -->
                                    <td class="orange kickoff" data-tooltip="7:30pm-9:00pm Zero-to-Hero: Google Go with Henry Schein (2/16)">Zero-to-Hero: Google Go with Henry Schein</td>
                                    <td class="orange kickoff" data-tooltip="7:30pm-8:00pm Zero to Hero: Softheon Wallet &amp; Enterprise APIs + Softheon Workshop (2/16)">Zero to Hero: Softheon Wallet &amp; Enterprise APIs + Softheon Workshop</td>
                                    <!-- 2/17 -->
                                    <td colspan="2" class="carrot dinner"></td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td class="time">8:00PM</td>
                                    <!-- 2/16 -->
                                    <td class="orange kickoff"></td>
                                    <td class="orange kickoff" data-tooltip="8:00pm-8:30pm Zero to Hero: Zero to Hero: Cisco Meraki &amp; Spark APIs (2/16)">Zero to Hero: Cisco Meraki &amp; Spark APIs</td>
                                    <!-- 2/17 -->
                                    <td colspan="2" class="yellow workshop" data-tooltip="8:00pm-9:00pm Workshop: Ethical Hacking (2/17)">Workshop: Ethical Hacking</td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">8:30PM</td>
                                    <!-- 2/16 -->
                                    <td class="orange kickoff"></td>
                                    <td class="orange kickoff" data-tooltip="8:30pm-9:00pm Zero to Hero: Zero to Hero: Network Sniffing with CrossFlow (2/16)">Zero to Hero: Network Sniffing with CrossFlow</td>
                                    <!-- 2/17 -->
                                    <td colspan="2" class="yellow workshop"></td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">9:00PM</td>
                                    <!-- 2/16 -->
                                    <td class="orange kickoff"></td>
                                    <td class="orange kickoff" data-tooltip="9:00pm-9:30pm Zero to Hero: Healthcare Challenges with Northwell Health (2/16)">Zero to Hero: Healthcare Challenges with Northwell Health</td>
                                    <!-- 2/17 -->
                                    <td colspan="2" class="greensea techtalk" data-tooltip="9:00pm-10:00pm Cup Stacking with MLH (2/17)">Cup Stacking with MLH</td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">9:30PM</td>
                                    <!-- 2/16 -->
                                    <td style="padding: 0; z-index:1;" colspan="2">
                                        <table style="min-height: 32px; width: 100%; table-layout: fixed;">
                                            <tbody>
                                                <tr>
                                                    <td class="orange workshop" data-placement="top" data-tooltip="9:30pm-12:00am Zero-to-Hero: Raspberry Pi (2/16)">Zero-to-Hero: Raspberry Pi</td>
                                                    <td class="orange workshop" data-placement="top" data-tooltip="9:30pm-12:00am Zero-to-Hero: Arduino &amp; ESP 8266 (2/16)">Zero-to-Hero: Arduino &amp; ESP 8266</td>
                                                    <td class="orange workshop" data-placement="top" data-tooltip="9:30pm-12:00am Zero-to-Hero: VR Dev with VR World NYC (2/16)">Zero-to-Hero: VR Dev with VR World NYC</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- 2/17 -->
                                    <td colspan="2" class="greensea techtalk"></td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td class="time">10:00PM</td>
                                    <!-- 2/16 -->
                                    <td style="z-index:1;" colspan="2" class="orange kickoff">
                                        <table style="min-height: 32px; width: 100%; table-layout: fixed;">
                                            <tbody>
                                                <tr>
                                                    <td class="orange workshop"></td>
                                                    <td class="orange workshop"></td>
                                                    <td class="orange workshop"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- 2/17 -->
                                    <td colspan="2" class="purple jeapordy" data-tooltip="10:00PM - 12:00AM Swagbag Givaways &amp; Jeopardy">Swagbag Givaways &amp; Jeopardy</td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">11:00PM</td>
                                    <!-- 2/16 -->
                                    <td style="z-index:1;" colspan="2" class="orange kickoff">
                                        <table style="min-height: 32px; width: 100%; table-layout: fixed;">
                                            <tbody>
                                                <tr>
                                                    <td class="orange workshop"></td>
                                                    <td class="orange workshop"></td>
                                                    <td class="orange workshop"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- 2/17 -->
                                    <td colspan="2" class="purple jeapordy"></td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="time">12:00AM</td>
                                    <!-- 2/16 -->
                                    <td colspan="2" class="red deadline" data-tooltip="12:00am - 10:00pm Capture the Flag Competition Kickoff (2/16-2/17)">Capture the Flag Competition Kickoff</td>
                                    <!-- 2/17 -->
                                    <td></td>
                                    <td></td>
                                    <!-- 2/18 -->
                                    <td></td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                        <p>
                            <br>
                            <b><big>All Weekend:</big></b>
                            Hack@CEWIT Sponsor Stations: Hacker Gurus &amp; Recruitment Teams
                            <br>Hack@CEWIT Hardware Lab
                            <br>Night School: Midnight Sugar Rush + Game Room
                            <br>Beverage &amp; Snack Stations
                            <!-- <br>R&R Rooms + Team Breakout Rooms -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>