@{
    ViewData["Title"] = "Schedule";
}
<section class="schedule text-center" id="schedule">
    <div class="container sched">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <hr>
                <div class="container">
                    <div class="tab">
                        @model List<Schedule>
                        <h1>Schedule</h1>
                        <table>
                            <tr>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Description</th>
                                <th>Room Number</th>
                            </tr>
                            @foreach (var schedule in Model)
                            {
                                <tr>
                                    <td>@schedule.StartTime</td>
                                    <td>@schedule.EndTime</td>
                                    <td>@schedule.EventDescription</td>
                                    <td>@schedule.Room</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>