@{
    ViewData["Title"] = "Videos";
}
<h2>@ViewData["Title"]</h2>

<div>
    <center>
        <iframe width="720" height="480" src="https://www.youtube.com/embed/i9TRte-Nrz0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe><div height="500"></div>
    </center>
</div>