<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <system.webServer>
      <handlers>
        <remove name="WebDAVModule" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." 
             verb="GET,HEAD,POST,DEBUG,PUT,DELETE,OPTIONS" 
             type="System.Web.Handlers.TransferRequestHandler" 
             preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
    </system.webServer>
</configuration>