@{
    ViewData["Title"] = "Faq";
}
<section class="faq" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="feature-item">
                                <h3>Who can participate?</h3>
                                <p class="text-muted">All currently enrolled undergraduate and graduate students or recent December 2018 graduates. Valid student ID required at check-in. Max 4 per team.</p>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="feature-item">
                                <h3>What should I bring?</h3>
                                <p class="text-muted">Yourself, a valid student ID, your laptop, phone, and chargers as well as extra clothes, sleeping bag, and blankets to keep yourself comfortable for the weekend.</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="feature-item">
                                <h3>Are there any costs associated?</h3>
                                <p class="text-muted">Zero. No registration, parking, equipment, meals or amenities fees.</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="feature-item">
                                <h3>What are the rules?</h3>
                                <p class="text-muted">As a Major League Hacking member event, Hack@CEWIT is adopting <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH's Code of Conduct</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="feature-item">
                                <h3>How can I get there?</h3>
                                <p class="text-muted">Options include Stony Brook University's R&amp;D Park shuttle (see schedule); Hack@CEWIT shuttle bus (to and from campus and to the LIRR station). Driving? Parking is both available and free!</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="feature-item">
                                <h3>What is CEWIT?</h3>
                                <p class="text-muted">
                                    The Center of Excellence in Wireless and Information Technology (CEWIT) is a New York State-designated next generation research and education facility at Stony Brook University specializing in emerging, critical information
                                    technologies.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="feature-item">
                                <h3>When and where is Hack@CEWIT?</h3>
                                <p class="text-muted">
                                    President's Day Weekend, Friday, February 16-18, 2019 at the 100,000 square-foot, state-of-the-art CEWIT building located in Stony Brook University's R&amp;D Park, 1500 Stony Brook Road, Stony Brook,
                                    NY 11794-6040.
                                    <a asp-protocol="https"
                                       asp-host="www.google.com/maps/place/Center+of+Excellence+in+Wireless+and+Information+Technology+(CEWIT)/&#64;40.902362,-73.133779,17z/data=!4m5!3m4!1s0x0:0x9840c00697572f09!8m2!3d40.90224!4d-73.134251?hl=en-US"
                                       asp-controller="Home"
                                       asp-action="About">Google Maps Link</a>
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="feature-item">
                                <h3>What are the competition categories?</h3>
                                <p class="text-muted">
                                    The 2019 theme will be announced shortly.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="feature-item">
                                <h3>What kind of activities will there be?</h3>
                                <p class="text-muted">Tech talks and deep-dive workshops to improve your skills and learn new programs while meeting fellow hackers, gurus, and companies looking to recruit their next generation of talent + games, and multimedia experiences.</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="feature-item">
                                <h3>What if I do not have a team or an idea?</h3>
                                <p class="text-muted">The Hack@CEWIT team and our hacker gurus will be on site 24/7 to help build teams and kick-start ideas.</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="feature-item">
                                <h3>How can I get involved?</h3>
                                <p class="text-muted">Interested in sponsoring Hack@CEWIT, contributing to the program, or volunteering? Contact us at hack@cewit.org, 631-216-7000. </p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="feature-item">
                                <h3></h3>
                                <p class="text-muted"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>